@import "tailwindcss";


header{
    margin: 1rem 1rem 0;
    padding: 0.5rem 1rem;
}

.homepage{
    align-items: center;
    padding: 0 20px;
    margin-bottom: 1rem;
}


.image1{
    border-radius: 5px;
    box-shadow: 0 10px 20px rgb(101, 99, 99);
}

.padding-bottom{
    padding-bottom: 15rem;
}

.gradient{
    padding: 0 4rem;
    margin-bottom: 1.2rem;
    background: linear-gradient(60deg, rgb(9, 9, 104), rgb(167, 25, 233));
}
.align-section {
    display: flex;
    align-items: center;
    margin: 10px;
}


.formborder{
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(126, 127, 131, 0.573);
}

.shadow{
    box-shadow: 0 1px 8px rgba(108, 121, 202, 0.573);
}


footer{
    height: auto;
    padding: 2rem 2rem 1.5rem;
    background-color: rgb(3, 7, 58);
}